<%= render "shared/navbar" %>

<h1 class="text-center my-3">About us</h1>

<p class="text-center mx-4">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo praesentium cumque ex aut repudiandae temporibus tenetur ratione nostrum consequatur at distinctio totam similique inventore suscipit molestias nihil laborum, sequi officiis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos beatae, nobis deserunt at debitis vel explicabo, repudiandae architecto laboriosam, temporibus magnam! Quae, quaerat consequuntur. Quibusdam, temporibus? Nisi dignissimos sunt doloribus?
</p>