<%= render "shared/navbar" %>

<% flash.each do |type, msg| %>
    <div class="w-25 alert alert-success d-flex justify-content-center mx-3 my-3">
    <%= msg %>
  </div>
<% end %>

<br>

<h1 class="mx-3 my-3">Welcome</h1>

<h2 class="max-3">Your exercises: </h2>
